<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="DeveloperHub\FacebookEventTracker\Model\Session\Storage" type="Magento\Framework\Session\Storage">
        <arguments>
            <argument name="namespace" xsi:type="string">DeveloperHub_FacebookEventTracker</argument>
        </arguments>
    </virtualType>
    <type name="DeveloperHub\FacebookEventTracker\Model\Session">
        <arguments>
            <argument name="storage" xsi:type="object">DeveloperHub\FacebookEventTracker\Model\Session\Storage</argument>
        </arguments>
    </type>
</config>
